<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, mrli All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: mrli
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newweb.mrli.ykport.baoshuisystem.mapper.InvoiceDetailHeadMapper">

  <resultMap id="invoiceDetailHeadMap" type="com.newweb.mrli.ykport.baoshuisystem.entity.InvoiceDetailHead">
                  <id property="fId" column="F_ID"/>
                        <result property="approveFid" column="APPROVE_FID"/>
                        <result property="billFid" column="BILL_FID"/>
                        <result property="billCod" column="BILL_COD"/>
                        <result property="accountNam" column="ACCOUNT_NAM"/>
                        <result property="invoiceType" column="INVOICE_TYPE"/>
                        <result property="secondCod" column="SECOND_COD"/>
                        <result property="secondNam" column="SECOND_NAM"/>
                        <result property="totalMoney" column="TOTAL_MONEY"/>
                        <result property="shipNam" column="SHIP_NAM"/>
                        <result property="operDat" column="OPER_DAT"/>
                        <result property="operNam" column="OPER_NAM"/>
                        <result property="recordTim" column="RECORD_TIM"/>
                        <result property="updateNam" column="UPDATE_NAM"/>
                        <result property="updateTim" column="UPDATE_TIM"/>
                        <result property="delNam" column="DEL_NAM"/>
                        <result property="delTim" column="DEL_TIM"/>
	                    <result property="deptId" column="DEPT_ID"/>
            </resultMap>

	<!--	左边是子查询的值，右边是结果-->
	<resultMap id="myMap" type="com.newweb.mrli.ykport.baoshuisystem.vo.InvoiceDetailHeadVo">
		<id property="fId" column="F_ID"/>
		<collection property="invoiceDetailBodyList"  ofType="com.newweb.mrli.ykport.baoshuisystem.entity.InvoiceDetailBody"
					select="getInvoiceDetailBodyList"
					column="{fId=F_ID}">
		</collection>

		<collection property="invoiceDetailPaymentList"  ofType="com.newweb.mrli.ykport.baoshuisystem.entity.InvoiceDetailPayment"
					select="getInvoiceDetailPaymentList"
					column="{fId=F_ID}">
		</collection>
	</resultMap>
	<select id="getInvoiceDetailBodyList" parameterType="com.newweb.mrli.ykport.baoshuisystem.vo.InvoiceDetailHeadVo"
			resultType="com.newweb.mrli.ykport.baoshuisystem.entity.InvoiceDetailBody">
		select * from BSWL.INVOICE_DETAIL_BODY  where DEL_TIM IS NULL and DEL_NAM IS NULL and H_FID =#{fId}	order by RECORD_TIM desc
	</select>
	<select id="getInvoiceDetailPaymentList" parameterType="com.newweb.mrli.ykport.baoshuisystem.vo.InvoiceDetailHeadVo"
			resultType="com.newweb.mrli.ykport.baoshuisystem.entity.InvoiceDetailPayment">
		select * from BSWL.INVOICE_DETAIL_PAYMENT  where DEL_TIM IS NULL and DEL_NAM IS NULL and H_FID =#{fId} order by RECORD_TIM desc
	</select>
	<select id="selectPageVo" resultMap="myMap" parameterType="com.newweb.mrli.ykport.baoshuisystem.vo.InvoiceDetailHeadVo">
		select *
		from BSWL.INVOICE_DETAIL_HEAD t
		where 1=1 and t.DEL_TIM IS NULL and t.DEL_NAM IS NULL and t.INVOICE_TYPE IS NOT NULL
		<if test="invoiceDetailHead.billCod != null and invoiceDetailHead.billCod != ''">
			and t.BILL_COD like concat(concat('%', (#{invoiceDetailHead.billCod}) ),'%')
		</if>
		<if test="invoiceDetailHead.accountNam != null and invoiceDetailHead.accountNam != ''">
			and t.ACCOUNT_NAM like concat(concat('%', (#{invoiceDetailHead.accountNam}) ),'%')
		</if>
		<if test="invoiceDetailHead.invoiceType != null and invoiceDetailHead.invoiceType != ''">
			and t.INVOICE_TYPE = #{invoiceDetailHead.invoiceType}
		</if>
		<if test="invoiceDetailHead.secondNam != null and invoiceDetailHead.secondNam != ''">
			and t.SECOND_NAM like concat(concat('%', (#{invoiceDetailHead.secondNam}) ),'%')
		</if>
		<if test="invoiceDetailHead.params != null ">
			and t.OPER_DAT >= to_date(#{invoiceDetailHead.params[0]},'yyyy-MM-dd') and t.OPER_DAT &lt;= to_date(#{invoiceDetailHead.params[1]},'yyyy-MM-dd')
		</if>
		<if test="invoiceDetailHead.operNam != null and invoiceDetailHead.operNam != ''">
			and t.OPER_NAM = #{invoiceDetailHead.operNam}
		</if>
		<if test="invoiceDetailHead.deptId != null and invoiceDetailHead.deptId != ''">
			and t.DEPT_ID = #{invoiceDetailHead.deptId}
		</if>
		order by t.RECORD_TIM desc
	</select>



</mapper>
