<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, mrli All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: mrli
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newweb.mrli.ykport.baoshuisystem.mapper.OutportCertificateMapper">

  <resultMap id="outportCertificateMap" type="com.newweb.mrli.ykport.baoshuisystem.entity.OutportCertificate">
                  <id property="recordDte" column="RECORD_DTE"/>
                        <result property="cargoNam" column="CARGO_NAM"/>
                        <result property="piecesNum" column="PIECES_NUM"/>
                        <result property="carNo" column="CAR_NO"/>
                        <result property="outportNo" column="OUTPORT_NO"/>
                        <result property="agentNam" column="AGENT_NAM"/>
                        <result property="operNam" column="OPER_NAM"/>
            </resultMap>

	<!-- 数据库：ykport/sepgsxt -->
	<select id="getList" parameterType="com.newweb.mrli.ykport.baoshuisystem.entity.OutportCertificate" resultType="com.newweb.mrli.ykport.baoshuisystem.entity.OutportCertificate">
		select record_dte,cargo_nam,pieces_num,car_no,outport_no,agent_nam,oper_nam,outport_remark
		from ykport.OUTPORT_CERTIFICATE
		where unit_cod='14'
		<if test="outportCertificate.timeStart!=null and outportCertificate.timeStart!=''">
			and to_char(record_dte, 'yyyy-mm-dd') between #{outportCertificate.timeStart} and #{outportCertificate.timeEnd}
		</if>
		<if test="outportCertificate.outportNo != null and outportCertificate.outportNo != ''">
			and outport_no like CONCAT(CONCAT('%', #{outportCertificate.outportNo}), '%')
		</if>
	</select>


	<!-- 数据库：ykport/sepgsxt -->
	<select id="getListExcel" parameterType="com.newweb.mrli.ykport.baoshuisystem.entity.OutportCertificate" resultType="com.newweb.mrli.ykport.baoshuisystem.entity.OutportCertificate">
		select record_dte,cargo_nam,pieces_num,car_no,outport_no,agent_nam,oper_nam,outport_remark
		from ykport.OUTPORT_CERTIFICATE
		where unit_cod='14'
		<if test="outportCertificate.timeStart!=null and outportCertificate.timeStart!=''">
			and to_char(record_dte, 'yyyy-mm-dd') between #{outportCertificate.timeStart} and #{outportCertificate.timeEnd}
		</if>
		<if test="outportCertificate.outportNo != null and outportCertificate.outportNo != ''">
			and outport_no like CONCAT(CONCAT('%', #{outportCertificate.outportNo}), '%')
		</if>
	</select>

</mapper>
